table
{
border-collapse: collapse;
border-spacing: 0px; 
text-align: left;}

th
{
border: 1px #E6E6E6 solid;
}

td
{
border: 1px #E6E6E6 solid;}

#user_nav 
{
float:right;
}

#clearboth
{
clear:both;
}

.mcetext {
	border-style: solid;
	border-width: thin;
}
